/* Global Settings */
:root{
    --background-color-green:#1A9082;
    --background-color-white:#fff;
    --border-color-white:#fff;

    --bg-header:#00796B;
    --bg-navbar:#008374;
    --bg-button:#1A9082;
    --bg-box:#008D7D;
    --bg-services:#F6F6F6;
    --bg-services-card:#FFFFFF;
    --bg-testimonials:#FFFFFF;
    --bg-testimonials-card:#FFFFFF;
    --bg-portfolio:#F6F6F6;
    --bg-card:#FFFFFF;
    --bg-pricing:#F6F6F6;
    --bg-blog:#F6F6F6;
    --bg-contact-panal:#008172;
    --bg-contact-panal-card:#009282;
    --bg-contact-btn:#008374;
    --bg-footer:#008374;
    --p-color:#9D9D9D;

  
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}
body {
    margin: 0px;
    font-family: var(--font-default);
}
/* *{
    margin: 0px;
    padding: 0px;
} */
/* not working? */
ul {
    list-style: none;
}
/* not working? */
a{
    text-decoration: none!important;
}
a:hover{
    color:#fff!important;
}

img{
    width:100%;
}

.text-center {
    text-align: center;
}


.dropdown-menu .dropdown-item{
    color: var(--bg-navbar);
    font-weight: 500;
    border:none;
 } 
 .dropdown-menu .dropdown-item:hover{
    color:red;
    font-weight: 500;
    background-color: #fff;
  } 
 /* not working */
 .dropdown-menu .dropdown-item ::selection a{
    color:red;
 }

.btn-bg-green{
    color:#fff;
    background-color:var(--background-color-green);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    padding:14px 50px;
    border:1px solid rgba(255, 255, 255, .3);

}
.btn-bg-trensparent{
    border:2px solid rgb(255,255,255);
    background-color:  rgba(0, 0, 0, 0.2);
    padding:12px 60px;
}
.btn-bg-hollow{
    border:1px solid rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0);
    padding:8px 40px;
    color:#008374;
}


i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    margin-right: 8px;
}
.btn-video{
    margin-left: 25px;
}
.btn-video-big i{
    font-size:100px;
    color:#008374;

}

.circle-bg:before{
    content:" ";
    display:block;
    width:80px;
    height:80px;
    background-color: #008374;
    border-radius: 50%;
    position: absolute;
    top:20%;
    left:45%;
    margin: auto;
}

.circle-bg  i{
    font-size: 32px;
    color:#fff;
    position: absolute;
    top:23%;
    left:47%;
    z-index: 1;
    line-height: 0;
}



.c{
    border:2px solid blue;
}
/* .border-none{
    border:none;
} */
.sec-heading{
    text-align: center;
}
.sec-heading h2{
    font-size: 32px;
    font-weight: 600;
    color:black;
    /* text-align: center; */
    position: relative;
    padding-bottom:40px;
}
.sec-heading h2:after{
    content: "";
    position: absolute;
    display:block;
    width:50px;
    height:3px;
    left:48%;
    bottom:30%;
    background-color: #008374;
}







/*header */
.header1{
    background-color: #00796B;
}
.header1 a{
    color: #fff;
    /* text-decoration: none;  set globally  */
    font-size: 16px;
}
.header1 a:hover{
    color:#fff;
    text-decoration: underline!important;
}
.header1 i{
    padding-right:8px;
    opacity: .9;
    font-style: normal;
    color: #fff;
    font-size: 14px;
}
.header1 a  i:hover{
    opacity: 1;
    font-weight: bolder;
}

/* navbar */
nav{
    background-color: var(--bg-navbar);
    padding: 10px 0 3px 30px;
}
nav small{
    font-size: 30px;
    color:red;
}
nav a{
    color:#fff;
}
nav li{
    padding:10px 10px 0 10px;
    font-weight: bolder;
}
nav li:first-child{
    border-bottom: 2PX SOLID #f85a40;
}

nav li a:hover{
    color:#fff;
    border-bottom: 2px solid #f85a40;
}


/* section-1 */
.section-1{
    background-color:var(--bg-navbar);
    color:#fff;
}
.section-1 a{
    color:#fff;
    font-size: 18px;
    font-weight: 600;
}
.section-1 h2{
    font-size: 50px;
    font-weight: 700;
}
.section-1 p{
    /* color:#fff; */
    font-size: 16px;
    opacity: .8;
}

/* icon-Box-row */
.icon-card{
    background-color:var(--bg-navbar);
    border-radius: 10px ;
    color:#fff;
}
.icon-card h3{
    font-size: 26px;
}
.icon-card i{
    font-size: 50px!important;
}

/* about us */
.about-us {
    margin:80px;
    /* background-color:black; */
}
.about-us p{
    color:#A0A0A0;;
    font-size: 16px;
    font-weight: 500;
}
.about-us i{
    padding-right:2px;
    color: var(--bg-navbar);
    font-size: 20px;
}




/* scrolling row */
.logo-box{
    height:100px;
    width:100px;
    padding:10px;
    margin:20px;
}
/* section-2 */
.prj-detail span{
    font-size:40px;
    color:var(--bg-navbar);
    font-weight: 500;
}
.prj-detail p{
     padding:20px;
}
.prj-detail .prj-detail-line{
    border-bottom: 1px solid grey;
}



/* call to function */
.calltofunction-video  {
    position: relative;
}
.calltofunction-video .carousel-item:after{
    content: " ";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);

}
.calltofunction-video .calltofunction-item{
    color:red;
    font-size: 20px;
    position: absolute;
    top:30%;
    margin:10px -100px;
   
}
.calltofunction-item h3{
    color:#fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.calltofunction-item p{
    color:#fff;
    font-size: 18px;
}
.accordion-button:not(.collapsed){
    color: red !important;
}


/* services */
.services{
    background-color: var(--bg-services);
}
.services #header p{
    color: p-color;
}

.service-item .card h5{
    color:#000;

}
.service-item .card p{
    color:var(--p-color);
    /* text-align: center; */
}
.service-item .card span{
    color:var(--bg-navbar);
}

.service-item .card .icon{
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}

.service-item .card .icon::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background:#eeeeee; 
    border-radius: 50px;
    z-index: 1;
    top: 50px;
    right: -20px;
}
.service-item .card i{
    color:#000;
    font-weight: 900;
    font-size: 56px;
    z-index: 2;
    position: absolute;
    top:40px;
    left:0px;
}
.service-item .card a:hover .icon::before{
      background-color: #008374;
}

/* testimonial */
.testimonial{
    background-color: var(--bg-testimonials);
}
.testimonial #header p{
    color: p-color;
}
.testimonial .thumbnail{
    width:90px;
    height:90px;
    border-radius: 50%;
}
.testimonial .card i{
    font-size: 14px;
}

/* portfolio */
.portfolio{
    background-color: var(--bg-portfolio);
}
.portfolio .portfolio-item a h6{
    color:#000;
    font-size: 18px;
}
.portfolio .portfolio-item  a h6:first-child a h6{
    color:#008374;
}
.portfolio .portfolio-item  a h6:hover a h6{
    color:#008374;
}

/* team */
.team .team-item .social a:hover i{
    color:#008374;
}
/* .team .team-item .social a:hover a{
    border :1px solid #008374;
    border-radius: 50%;
    color: #008374;
   
} */

/* pricing */
.pricing{
    background-color: var(--bg-pricing);
}

.pricing-item h3{
    font-size: 22px;
    color:#000;
}
.pricing-item h5{
    font-size: 48px;
   margin-bottom: 0;
   color:red;
}
.pricing-item h5 sup{
    color:red;
    font-size: 28px;
}
.pricing-item h5 small{
    font-size: 18px;
    font-weight: 400;
    color:#A0A0A0;
}
.pricing-item  ul li i{
    color: #008374!important;;
    font-size: 24px;
}

.pricing ul li{
    text-align: start;
}
.pricing .pricing-item .pricing-item-col{
    position: relative;
    border-radius:15px;
    height:100%;
    box-shadow:0 3px 20px -2px rgb(108 117 125 / 15%);
    background-color: #fff;
    
}
.pricing .pricing-item .pricing-item-col i{
    color:#fff;
    text-align: center;
}


/* .pricing .icon:before{
    position: absolute;
    content: "";
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background: #87c1bb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}
.pricing .icon{
    margin: 30px auto 30px auto;
    width: 70px;
    height: 70px;
    background: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;
}
.pricing .icon i {
    color: #fff;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    line-height: 0;
}
.pricing .icon::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: #d2eeeb;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-2px);
} */

/* faq */



/* common  */

.margin-top-50{
    margin-top:50px;
}
.card-css{
    border-radius: 10px!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.social{
    display: flex;
    justify-content: space-around;
}

.social  a{
    height:40px;
    width:40px;
    border :1px solid #a2a2a2;
    border-radius: 50%;
    color: #a2a2a2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social i{
    font-size: 18px;
    color: #a2a2a2;
    margin-left:5px;
}

/* text-decoration-none */

