/* Global Settings */
:root{
    --background-color-green:#1A9082;
    --background-color-white:#fff;
    --border-color-white:#fff;

    --bg-header:#00796B;
    --bg-navbar:#008374;
    --bg-button:#1A9082;
    --bg-box:#008D7D;
    --bg-services:#F6F6F6;
    --bg-services-card:#FFFFFF;
    --bg-testimonials:#FFFFFF;
    --bg-testimonials-card:#FFFFFF;
    --bg-portfolio:#F6F6F6;
    --bg-card:#FFFFFF;
    --bg-pricing:#F6F6F6;
    --bg-blog:#F6F6F6;
    --bg-contact-panal:#008172;
    --bg-contact-panal-card:#009282;
    --bg-contact-btn:#008374;
    --bg-footer:#008374;
    --p-color:#9D9D9D;

  
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}
body {
    margin: 0px;
    font-family: var(--font-default);
}
/* *{
    margin: 0px;
    padding: 0px;
} */
/* not working? */
ul {
    list-style: none;
}
/* not working? */
a{
    text-decoration: none!important;
}
a:hover{
    color:#fff!important;
}

img{
    width:100%;
}
.text-center {
    text-align: center;
}
.c{
    border:2px solid blue;
}

/* common setting for all section header-sec-heading */
.sec-heading{
    text-align: center;
}
.sec-heading h2{
    font-size: 32px;
    font-weight: 600;
    color:black;
    /* text-align: center; */
    position: relative;
    padding-bottom:40px;
   
}
/* green border line below sec heading*/
.sec-heading h2:after{
    content: "";
    position: absolute;
    display:block;
    width:50px;
    height:3px;
    left:48%;
    bottom:30%;
    background-color: #008374;
}

/****** All buttons used in impact/ callto function /form******/
.btn-bg-green{
    color:#fff;
    background-color:var(--background-color-green);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    padding:14px 50px;
    border:1px solid rgba(255, 255, 255, .3);
}
.btn-bg-trensparent{
    border:2px solid rgb(255,255,255);
    background-color:  rgba(0, 0, 0, 0.2);
    padding:12px 60px;
}
.btn-bg-hollow{
    border:1px solid rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0);
    padding:8px 40px;
    color:#008374;
}

/****** i tag  icon comman setting******/
i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    /* margin-right: 8px; */
}
.btn-video{
    margin-left: 25px;
}
/* .btn-video-big i{
    font-size:100px;
    color:#008374;
} */

/***** card setting   *****/
.card-css{
    border-radius: 10px!important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/****** all types of social icons used in header/ team /footer ******/
/* social icon -used header bar */
.social{
    display: flex;
 }
.social i{
    font-size: 14px;
    font-weight: 600;
}

/* .backcircle-40-center-align a tag setting for social  class
used in team section */
.backcircle-40-center-align a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #a2a2a2;
    border-radius: 50%;
    color:#a2a2a2;
}

/* .backcircle-40-center-align i tag setting for social class
used in team section */
.backcircle-40-center-align a i{
    font-size: 18px;
    color: #a2a2a2;
    /* margin-left:5px; */
}
.backcircle-40-center-align a:hover{
   border:1px solid #008374;
}
.backcircle-40-center-align a:hover i{
    color:#008374;
}

/* social back circle used in footer  */
.backcircle-30-center-align a{
    height:30px;
    width:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255,255,255,0.6)!important;
    border-radius: 50%;
    /* color:rgba(255,255,255,0.6)!important; */
 
}
/* social back circle used in footer  */
.backcircle-30-center-align a i{
    font-size: 15px;
    color: rgba(255,255,255,0.6)!important;
    /* margin-left:5px; */
 
}
/* social back circle used in footer  */
.backcircle-30-center-align a:hover{
    color:rgba(255,255,255,1)!important;
    border:1px solid rgba(255,255,255,1)!important;
}

.backcircle-30-center-align a:hover i{
    color:rgba(255,255,255,1)!important;
 }

 /*********** circle behind icons used in about us/call to function/pricing   ************/
.circle-bg{
    width:90px;
    height:90px;
    margin: auto;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle-bg:before{
    content:" ";
    /* display:flex;
    justify-content: center;
    align-items: center; */
    width:80px;
    height:80px;
    background-color: #008374;
    border-radius: 50%;
    display:inline-block;
    position: absolute;
    /* top:10%;
    left:9%; */
 }

.circle-bg  i{
    font-size: 32px;
    color:#fff;
    position: absolute;
    /* top:29%;
    left:29%; */
    z-index: 1;
    line-height: 0;
    text-align: center;
    /* margin-left:0px; */
}
/******** thumnail setting used in testimonial and blog************/
.thumbnail-90{
    width:90px;
    height:90px;
    border-radius: 50%;
}
.thumbnail-60{
    width:60px;
    height:60px;
    border-radius: 50%;
}
/******** icons and circle behind icon used in service ************/
/* .service-item .card .icon{ */
.icon{    
    width: 48px;
    height: 48px;
    position: relative;
 
}
/* green circle behind icon  */
/*.service-item .card .icon::before{ */
.icon::before{
     position: absolute;
     content: "";
     height: 100%;
     width: 100%;
     background:#eeeeee; 
     border-radius: 50px;
     z-index: 1;
     top: 40px;
     right: -35px;
}
  
/* left align icon from circle */
/*.service-item .card i{    */
.icon i{
     color:#000;
     font-weight: 900;
     font-size: 56px;
     z-index: 2;
     position: absolute;
     top:30px;
     left:12px;
}
   
/* icon-center-align is child of parent icon class inherting icon class property 
used in contact sec  */
.icon-center-align::before{
    background:#33A89B;
    top: 6px;
    left: -2px;
}
.icon-center-align i{
    color:#fff;
    font-size: 20px;
    z-index: 2;
    top:13px;
    left:10px;
}




/************************************************/
/*header */
.header1{
    background-color: #00796B;
}
.header1 a{
    color: #fff;
    /* text-decoration: none;  set globally  */
    font-size: 16px;
}
.header1 a:hover{
    color:#fff;
    text-decoration: underline!important;
}
.header1 i{
    padding-right:8px;
    opacity: .9;
    font-style: normal;
    color: #fff;
    font-size: 14px;
}
.header1 a  i:hover{
    opacity: 1;
    font-weight: bolder;
}

/* navbar */
nav{
    background-color: var(--bg-navbar);
    padding: 10px 0 3px 30px;
}
nav small{
    font-size: 30px;
    color:red;
}
nav a{
    color:#fff;
}
nav li{
    padding:10px 10px 0 10px;
    font-weight: bolder;
}
nav li:first-child a{
/* nav li:first-child{ */
    border-bottom: 2PX SOLID #f85a40;
}
nav li a:hover{
/* nav li:hover{ */
    color:#fff;
    border-bottom: 2px solid #f85a40;
}

.dropdown-menu li a{
    color: var(--bg-navbar);
    font-weight: 500;
    border: none !important;;
 } 
.dropdown-menu li a:hover{    
    color:red!important;
    font-weight: 500;
    background-color: #fff!important;
  } 

.dropdown-menu li a:hover {
    color: red!important;
    font-weight: 500;
    background-color: #fff;
}


/* section-1 */
.section-1{
    background-color:var(--bg-navbar);
    color:#fff;
}
.section-1 a{
    color:#fff;
    font-size: 18px;
    font-weight: 600;
}
.section-1 h2{
    font-size: 50px;
    font-weight: 700;
}
.section-1 p{
    /* color:#fff; */
    font-size: 16px;
    opacity: .8;
}
.section-1 .impact .btn-bg-green:hover{
    border:1px solid #fff;
    opacity: 1;
}

/* icon-Box-row */
.icon-card{
    background-color:var(--bg-navbar);
    border-radius: 10px ;
    color:#fff;
}
.icon-card h3{
    font-size: 26px;
}
.icon-card i{
    font-size: 50px!important;
}

/* about us */
.about-us {
    margin:80px;
}
.about-us p{
    color:#A0A0A0;;
    font-size: 16px;
    font-weight: 500;
}
.about-us i{
    padding-right:2px;
    color: var(--bg-navbar);
    font-size: 20px;
}
/* not working */
.about-us .circle-bg i {
    color:#fff!important;
    /* position: absolute; */
    /* top: 100%; */
    /* bottom:50%;
    left: 50%;
    border:1px solid red; */
}




/* scrolling row */
.logo-box{
    height:100px;
    width:100px;
    padding:10px;
    margin:20px;
}
/* section-2 */
.prj-detail span{
    font-size:40px;
    color:var(--bg-navbar);
    font-weight: 500;
}
.prj-detail p{
     padding:20px;
}
.prj-detail .prj-detail-line{
    border-bottom: 1px solid grey;
}



/* call to function */
.calltofunction{
    border-radius: 15px;
}
.calltofunction-video  {
    position: relative;
}
.calltofunction-video .carousel-item .darken-img:after{
    content: " ";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);

}
.calltofunction-video .calltofunction-item{
    color:red;
    font-size: 20px;
    position: absolute;
    top:10%;
    margin:10px -100px;
    /* margin:auto; */
   
}
.calltofunction-item h3{
    color:#fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.calltofunction-item p{
    color:#fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.calltofunction-video .calltofunction-item .btn-bg-green:hover{
    background-color: #008374;
    border:none;
}


/* services */
.services{
    background-color: var(--bg-services);
}
.services #header p{
    color: p-color;
}

.service-item .card h5{
    color:#000;
    text-align: start;
    border-bottom: 4px solid #eeeeee;
    margin-top: 10px;
}
.service-item .card .card-body{
    margin-top:50px;
}

.service-item .card:hover h5{
    border-bottom: 4px solid #008374;
}

.service-item .card p{
    color:var(--p-color);
    text-align: start;
}
.service-item .card span{
    color:var(--bg-navbar);
    text-align: start;
}


.service-item .card a:hover .icon::before{
      background-color: #008374;
}

/* testimonial */
.testimonial{
    background-color: var(--bg-testimonials);
}
.testimonial #header p{
    color: p-color;
}

.testimonial .card i{
    font-size: 14px;
}

/* portfolio */
.portfolio{
    background-color: var(--bg-portfolio);
}
.portfolio .portfolio-item li a {
    color:#000!important;
    font-size: 18px;
}
.portfolio .portfolio-item li  {
     padding:10px;
}
.portfolio .portfolio-item li:first-child a{
    color:#008374!important;
}
.portfolio .portfolio-item li:hover a{
    color:#008374!important;
}


/* team */
/* not required  */



/* pricing */
.pricing{
    background-color: var(--bg-pricing);
}

.pricing-item h3{
    font-size: 22px;
    color:#000;
}
.pricing-item h5{
    font-size: 48px;
   margin-bottom: 0;
   color:red;
}
.pricing-item h5 sup{
    color:red;
    font-size: 28px;
}
.pricing-item h5 small{
    font-size: 18px;
    font-weight: 400;
    color:#A0A0A0;
}
.pricing-item  ul li i{
    color: #008374!important;;
    font-size: 24px;
}

.pricing ul li{
    text-align: start;
}
.pricing .pricing-item .pricing-item-col{
    position: relative;
    border-radius:15px;
    height:100%;
    box-shadow:0 3px 20px -2px rgb(108 117 125 / 15%);
    background-color: #fff;
    
}
.pricing .pricing-item .pricing-item-col i{
    color:#fff;
    text-align: center;
}




/* faq */
/* chnaging color of accordation header text and background color */
.faq .accordion-button:not(.collapsed){
    /* color: #008374!important; */
    color:black!important;
    background-color: #fff!important;
    box-shadow: none;
}
.faq .accordion-button{
    /* color:black!important; */
    color: #008374!important;
}

/* not working */
.faq .accordion-button.collapsed{
    color: #008374!important;
    /* color:#000!important; */
  }
/* gapping between accordation lines  */
.faq .accordion-item {
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 6%);
    border-radius: 10px;
}
 /* removing blue border from accordation */
.faq .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
/* Removes down arrow from accordation */
.faq .accordion-button::after {
    background-image: initial;
  }
  
/* Removes up arrow from accordation */
.faq .accordion-button:not(.collapsed)::after {
    background-image: initial;
  }



 
  /* Blog */
.blog {
    background-color: #F6F6F6;
  }
.blog .card-body a{
    color:black;
}
.blog .card-body a:hover{
    color:#008374!important;
}
.blog .card-body h3{
    font-size: 22px;
}

/* contact */
.contact {
    background-color: #FFFFFF;
}
.contact-item .panel-container{
    background-color: #008374;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* height:500px; */
    padding:20px;
}
.contact-item .panel-container .panel-item{
    background-color: #009282;
    border-radius: 15px;
    text-align:start;
    margin-bottom: 20px;
    padding:10px;
    /* width:100%; */
 
}

.contact-item .panel-container .panel-item h4{
    font-size: 20px;
    color:#fff;
}
.contact-item .panel-container .panel-item h6{
    font-size: 16px;
    color:#fff;
    opacity: 0.8;
}

.contact-item .form-panel{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

/* overridding  */
.contact .contact-item .form-panel .form-control:focus {
    border-color: 2px solid #008374;
}


/* footer */
.footer-sec{
    background-color: var(--bg-navbar);
    color:#fff;
}
.footer-sec a{
    color: #fff!important;
}

.footer-sec a h6{
    font-size: 14px;
    font-weight: 400;
    opacity: .6;
    padding:5px;
}
.footer-sec h6{
    font-size: 14px;
    font-weight: 600;
}
.footer-sec a h6:hover{
    opacity: .9;
}
.footer-sec .footer-info p{
    font-size: 14px;
}
.footer-sec .contact-sec h6{
    font-size: 15px;
    font-weight: 400;
    opacity: .9;
    /* px-4 */
    padding-left:30px;
}


/* common  */
/* text-decoration-none */

